{% extends 'base.html' %}

{% block links %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/base-style.css">

{% endblock %}

{% block title %} About Us {% endblock %}

{% block content %}

<!-- Add all the About Us code here-->
    <section class="about about-1">
        <div class="container">
            <h2>About Us</h2>
            <div class="flex-row">
                <div class="left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, odio voluptatum? Nihil nemo, delectus, magnam dolorem velit veritatis ullam corporis error natus cupiditate animi architecto inventore esse dolor nesciunt illo.</p>
                    <div class="flex-row">
                        <i class="fa-solid fa-bullhorn" style="color: #2288ff;"></i>
                        <div class="info">
                            <h4>Title #1</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores nemo sapiente ratione deleniti magnam corporis commodi? Exercitationem quaerat pariatur consequuntur? Ducimus exercitationem pariatur fuga corrupti neque totam deleniti tenetur.</p>
                        </div>
                    </div>

                    <div class="flex-row">
                        <i class="fa-solid fa-bullhorn" style="color: #2288ff;"></i>
                        <div class="info">
                            <h4>Title #1</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores nemo sapiente ratione deleniti magnam corporis commodi? Exercitationem quaerat pariatur consequuntur? Ducimus exercitationem pariatur fuga corrupti neque totam deleniti tenetur.</p>
                        </div>
                    </div>

                    <div class="flex-row">
                        <i class="fa-solid fa-bullhorn" style="color: #2288ff;"></i>
                        <div class="info">
                            <h4>Title #1</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores nemo sapiente ratione deleniti magnam corporis commodi? Exercitationem quaerat pariatur consequuntur? Ducimus exercitationem pariatur fuga corrupti neque totam deleniti tenetur.</p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <img src="/static/img/about/about-img.svg" alt="" />
                </div>
            </div>
        </div>
    </section>


    <section class="about about-2">
        <div class="container flex-row">
            <div class="left">
                <img src="/static/img/about/about-extra-1.svg" alt="">
            </div>
            <div class="right">
                <h3>About Us Secondary Content</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, nostrum. Fuga vitae ipsum nobis id animi minima ad vero recusandae quo labore eveniet dolores nesciunt officia, deleniti, aliquam natus nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repellat esse ex vitae! Repellendus vel sint esse, aut minima laborum, illo eum consequatur necessitatibus sunt reprehenderit dicta quasi facilis molestiae.</p>
            </div>
        </div>
    </section>


    <section class="about about-3">
        <div class="container flex-row">
            <div class="left">
                <h3>About Us Secondary Content</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, nostrum. Fuga vitae ipsum nobis id animi minima ad vero recusandae quo labore eveniet dolores nesciunt officia, deleniti, aliquam natus nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repellat esse ex vitae! Repellendus vel sint esse, aut minima laborum, illo eum consequatur necessitatibus sunt reprehenderit dicta quasi facilis molestiae.</p>
            </div>

            <div class="right">
                <img src="/static/img/about/about-extra-2.svg" alt="">
            </div>
        </div>
    </section>
{% endblock %}