{% extends 'base.html' %}

{% block title %} Landing Page {% endblock %}



{% block content %}

<!-- Add all the LandingPage code here-->
<!-- Inside base.html -->
    <!-- home -->
    <section class="home container" id="home">
        <!-- <h1 class="section-title">Welcome to Our Website</h1> -->
        <div class="home-text">
            <h1>Find Your Next<br> Perfect Place To<br> Live</h1>

            {% if user.is_authenticated %}
                <a href="{% url 'main:menu' %}" class="btn">Start Monitoring ></a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn">Get Started ></a>
            {% endif %}
        </div>
    </section>


    <!-- features -->
    <section class="features">

        <h1 class="section-title">Our Features</h1>

        <div class="container4">
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <img src="static/img/feature/a.png" alt="" class="icon" />
                        <h2>Based On AI Technology</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img src="static/img/feature/a.png" alt="" class="pp" />
                                <h2>Based On AI Technology</h2>
                            </div>
                            <div class="card__body">
                                <h3>AI Technology</h3>
                                <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <img src="static/img/feature/b.png" alt="" class="icon" />
                        <h2>Real Time Monitoring</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img src="static/img/feature/b.png" alt="" class="pp" />
                                <h2>Real Time Monitoring</h2>
                            </div>
                            <div class="card__body">
                                <h3>Real Time</h3>
                                <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <img src="static/img/feature/c.png" alt="" class="icon" />
                        <h2>Smart Safety Feature</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img src="static/img/feature/c.png" alt="" class="pp" />
                                <h2>Smart Safety Feature</h2>
                            </div>
                            <div class="card__body">
                                <h3>Safety</h3>
                                <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Services -->
    <section class="services" id="services">

        <h1 class="section-title">Our Services</h1>

        <div class="container2">

            <div class="card1">
                <div class="imgBx">
                    <img src="static/img/services/img1.png">
                </div>
                <div class="content">
                    <h2>Accident Detection</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reprehenderit dolorem et maiores, reiciendis magni optio magnam ipsam non rerum placeat. Saepe velit molestias rerum ducimus. Aliquid ab culpa tempore.</p>
                </div>

            </div>

            <div class="card1">
                <div class="imgBx">
                    <img src="static/img/services/img2.png">
                </div>

                <div class="content">
                    <h2>Traffic Monitoring</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corporis facere aliquid ab suscipit harum cumque minus perferendis ut quis maxime nostrum delectus voluptates deserunt error, totam repellendus quas dignissimos?</p>
                </div>
            </div>

            <div class="card1">
                <div class="imgBx">
                    <img src="static/img/services/img3.png">
                </div>

                <div class="content">
                    <h2>Pothole Identification</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, soluta. Consequatur fuga aliquid dolor iure molestias voluptates ut repellendus molestiae? Labore esse quidem eum distinctio assumenda excepturi sapiente non laboriosam.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial -->
    <section class="testimonial" id="testimonial">

        <h1 class="section-title">Our Testimonials</h1>

        <div class="container1">
            <div class="testimonial">
                <div class="testimonial-text">

                    <div class="user-text">
                        <i class="fas fa-quote-left"></i>
                        <p>"How easy it is to navigate the settings. It’s very nice casual and comfortable."</p>
                        <span>JOHN RAYAN, CEO HUMBLE</span>
                    </div>

                    <div class="user-text active-text">
                        <i class="fas fa-quote-left"></i>
                        <p>"I think this is the best place to look for help. I most definitely would recommend my family and friends to try this out."</p>
                        <span>JOHN RAYAN, CEO HUMBLE</span>
                    </div>

                    <div class="user-text">
                        <i class="fas fa-quote-left"></i>
                        <p>"The most I liked about safetyNXT is the ability to save places on the map and make my own collection. It makes my travelling very easy and pleasant"</p>
                        <span>JOHN RAYAN, CEO HUMBLE</span>
                    </div>

                    <div class="user-text">
                        <i class="fas fa-quote-left"></i>
                        <p>"This app has served me to save lots of my time. Since i love to travel a lot, it helps me a lot with its routing system since I don't have remember everything. Overall this is a reliable travel partner. Thanks SafetyNXT."</p>
                        <span>JOHN RAYAN, CEO HUMBLE</span>
                    </div>

                    <div class="user-text">
                        <i class="fas fa-quote-left"></i>
                        <p>" I like how easy it is to use and how many features are built right in."</p>
                        <span>JOHN RAYAN, CEO HUMBLE</span>
                    </div>

                </div>
                <div class="testimonial-pic">
                    <img src="static/img/testimonials/user1.png" class="user-pic" onclick="showReview()">
                    <img src="static/img/testimonials/user2.png" class="user-pic active-pic" onclick="showReview()">
                    <img src="static/img/testimonials/user3.png" class="user-pic" onclick="showReview()">
                    <img src="static/img/testimonials/user4.png" class="user-pic" onclick="showReview()">
                    <img src="static/img/testimonials/user5.png" class="user-pic" onclick="showReview()">
                </div>
            </div>
        </div>
    </section>

    <!-- contact us -->

    <section class="contact" id="contact">

        <h1 class="section-title">Contact Us</h1>

        <div class="contact-bg">

            <div class="container3">
                <div class="contactinfo">
                    <div>
                        <h2>Contact Info</h2>
                        <ul class="info">
                            <li>
                                <span><img src="/static/img/contact/location.png" alt=""></span>
                                <span>Pune,MH- 415 005</span>
                            </li>

                            <li>
                                <span><img src="/static/img/contact/mail.png" alt=""></span>
                                <span>safetyNXT@gmail.com</span>
                            </li>


                            <li>
                                <span><img src="/static/img/contact/call.png" alt=""></span>
                                <span>00000 00000</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="sci">
                        <li>
                            <i class="fa-brands fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-x-twitter"></i>
                        </li>
                    </ul>

                </div>


                <div class="contactForm">
                    <h2>Send A Message</h2>

                    <form method="POST" action="/">
                        {% csrf_token %}

                        <div class="inputBox w50">
                            {{ form.fname }}
                            <span>First Name</span>
                        </div>

                        <div class="inputBox w50">
                            {{ form.lname }}
                            <span>Last Name</span>
                        </div>

                        <div class="inputBox w50">
                            {{ form.email }}
                            <span>Email Address</span>
                        </div>

                        <div class="inputBox w50">
                            {{ form.mob }}
                            <span>Mobile Number</span>
                        </div>

                        <div class="inputBox w100">
                            {{ form.msg }}
                            <span>Write Your Message Here...</span>
                        </div>

                        <div class="inputBox w100">
                             <input type="submit" value="Send" required />

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- team -->
    <section class="team" id="team">

        <h1 class="section-title">meet Our Team</h1>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/1.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Akshata Kamerkar</h2>
                            <p class="description">Meet our extraordinary Backend Developer, the architect of digital wonders, weaving code with precision and prowess. A maestro of data and functionality, With their coding brilliance and leadership finesse, they make the impossible possible, elevating our tech journey to new heights.</p><br>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/F.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Dhanashri Patil</h2>
                            <p class="description">Introducing our Frontend Developer extraordinaire - a master of user interfaces, a virtuoso of aesthetics, and a conductor of delightful experiences. With an eye for design and a passion for pixel-perfection, they craft visual wonders that breathe life into our digital realm. </p><br>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/3.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Kanchan Tayade</h2>
                            <p class="description">Meet our Integration Model Designer - the orchestrator of seamless connections, the maestro of integration, and the architect of interoperability. With a deep understanding of APIs, protocols, and data exchange, they weave systems together, creating a harmonious symphony of interconnectedness.</p><br>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/5.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Vaidehi Pate</h2>
                            <p class="description">Introducing our brilliant UI/UX Designer - a virtuoso of user experiences, a maestro of aesthetics, and a visionary of digital journeys. With an artist's eye and a strategist's mind, they craft interfaces that captivate, delight, and guide users through our digital realm. </p><br>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/4.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Sakshi Deshmukh</h2>
                            <p class="description">Allow us to introduce our exceptional Machine Learning Model Designer - a wizard of algorithms, a sorcerer of data patterns, and a visionary of intelligent solutions. With a deep understanding of data science and a flair for innovation, they craft machine learning models that unlock the power of data. </p><br>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="static/img/team/2.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Akanksha Palve</h2>
                            <p class="description">Meet our exceptional Database Designer - the mastermind behind our data kingdom, the architect of structured wonders. With an artful touch, they craft databases that breathe life into our applications, ensuring seamless flow and optimal performance.</p><br>
                        </div>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

{% block js %}
    <!-- Swiper JS -->
    <script src="/static/js/swiper-bundle.min.js"></script>

{% endblock %}

{% endblock %}